@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  font-family: "Vazir" !important;
}
a {
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8 !important;
}
/* Utilitis */
.hover-grow {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.hover-grow:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* Header */
.header-scorolled {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}
.header {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  padding: 20px 0;
}
@media (max-width: 900px) {
  .header {
    background-color: #fff;
  }
}
/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  background: url("../images/intro/intro-bg.png") top center no-repeat;
  background-size: cover;
}
/* About Section */
.content {
  background-color: #f6f9ff;
  padding: 40;
}
/* Cuntes */
.cuntes i {
  font-size: 42px;
}
.cuntes i.blue {
  color: #4154f1;
}
.cuntes i.orange {
  color: #ee6c20;
}
.cuntes i.green {
  color: #15be56;
}
.cuntes i.red {
  color: #bb0852;
}
/* Features */
.features i {
  font-size: 48px;
  color: #4154f1;
}
/* Services */
.services .services-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.services .services-box .icone {
  font-size: 36px;
  padding: 20px;
  display: inline-block;
  line-height: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.services .services-box .reade-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.services .services-box .reade-more i {
  font-size: 18px;
  line-height: 0 !important;
  margin-right: 0.4rem;
}
/* Services Blue */
.services .services-box.blue {
  border-bottom: 3px solid #2db6fa;
}
.services .services-box.blue .icone {
  background-color: #dbf3fe;
  color: #2db6fa;
}
.services .services-box.blue .reade-more {
  color: #2db6fa;
}
.services .services-box.blue:hover {
  background-color: #2db6fa;
  color: #fff;
}

/*Services Orange  */
.services .services-box.orange {
  border-bottom: 3px solid #f68c09;
}
.services .services-box.orange .icone {
  background-color: #fde3c4;
  color: #f68c09;
}
.services .services-box.orange .reade-more {
  color: #f68c09;
}
.services .services-box.orange:hover {
  background-color: #f68c09;
  color: #fff;
}

/*Services green  */
.services .services-box.green {
  border-bottom: 3px solid #08da4e;
}
.services .services-box.green .icone {
  background-color: #cffddf;
  color: #08da4e;
}
.services .services-box.green .reade-more {
  color: #08da4e;
}
.services .services-box.green:hover {
  background-color: #08da4e;
  color: #fff;
}

.services .services-box:hover .reade-more {
  color: #fff;
}
.services .services-box:hover .icone {
  background-color: #fff;
}

/* Pricing */

.pricing .card {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.pricing .card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* Cntact */

.contact .info-box {
  background-color: #fafbff;
  padding: 30px;
}
.contact .info-box i {
  color: #4154f1;
  line-height: 0;
  font-size: 38px;
}
.contact .contact-form {
  background-color: #fafbff;
  padding: 30px;
  height: 100%;
}
